-今回のプロジェクトは、練習ですがベストプラクティス、且つDocumentに遵守して最新に対応させてください。
-Documentには、以下のようなものがあります。
-https://developer.mozilla.org/ja/docs/Web/HTML/Element
-https://developer.mozilla.org/ja/docs/Web/CSS
-https://developer.mozilla.org/ja/docs/Web/JavaScript
-https://developer.mozilla.org/ja/docs/Web/API
-https://developer.mozilla.org/ja/docs/Web/HTTP
-https://developer.mozilla.org/ja/docs/Web/SVG
-https://developer.mozilla.org/ja/docs/Web/Accessibility
-https://developer.mozilla.org/ja/docs/Web/Performance
-https://developer.mozilla.org/ja/docs/Web/Security